<section class="courses-section mb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <h1 class="">Our Courses</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident, doloribus omnis minus temporibus perferendis nesciunt quam repellendus nulla nemo ipsum odit corrupti consequuntur possimus.</p>
                </div>
                
            </div>
        </div>
    </div>
</section>
<section >
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6" >
                <div class="card service-box">
                    <div class="card-body">
                        <h4 class="media-heading">Mobile Dev</h4>
                        <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="card service-box">
                    <div class="card-body">
                        <h4 class="media-heading">Communication</h4>
                        <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="card service-box">
                    <div class="card-body">
                        <h4 class="media-heading">Computers</h4>
                        <p>Morbi vitae tortor tempus, placerat leo et, suscipit lectus. Phasellus ut euismod massa, eu eleifend ipsum.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4 col-sm-6">
                <div class="card service-box">
                    <div class="card-body">
                        <h4 class="media-heading">Finance</h4>
                        <p>Morbi vitae tortor tempus, placerat leo et, suscipit lectus. Phasellus ut euismod massa, eu eleifend ipsum.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="card service-box">
                    <div class="card-body">
                        <h4 class="media-heading">Maths</h4>
                        <p>Morbi vitae tortor tempus, placerat leo et, suscipit lectus. Phasellus ut euismod massa, eu eleifend ipsum.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6" >
                <div class="card service-box">
                    <div class="card-body">
                        <h4 class="media-heading">Development</h4>
                        <p>Morbi vitae tortor tempus, placerat leo et, suscipit lectus. Phasellus ut euismod massa, eu eleifend ipsum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    
    
