.navbar-brand.logo{
    background: #941fa2;
    width: 170px;
}
header .navbar-nav > li a{
    padding: 12px;
}
.navbar-expand-lg .navbar-collapse{
    align-items: flex-end;
}
.navbar-light .navbar-nav .nav-link{
    color: #626262;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, {
    color: #F58220;
    background-color: transparent;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: #F58220;
}
.card-body{
    min-height: 190px;
}