img{
    width: 100%;
    height: auto;
}
.navbar-brand.logo{
    background: #941fa2;
    width: 170px;
}
header .navbar-nav > li a{
    padding: 12px;
}
.navbar-expand-lg .navbar-collapse{
    align-items: flex-end;
}
.navbar-light .navbar-nav .nav-link{
    color: #6262627a;
    font-size: 18px;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #F58220;
    background-color: transparent;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: #F58220;
}
.card-body{
    min-height: 240px;
}
.common-section{
    padding: 30px 0;
}
.heading-section{
    background-color: #4f0761;
    padding: 30px 0;
    margin-bottom: 30px;
    color: #fff;
}
.sub-heading{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}
.sub-paragraph{
    margin: 0 auto;
    text-align: center;
    max-width: 80%;
}
.card{
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2)
}
.studentImg{
    height: 350px;
    overflow: hidden;
}
.studentCard:hover{
    box-shadow : 0px 0px 10px rgba(0,0,0,0.2);
    transition: 0.5s;

}