<section id="banner">

    <!-- Slider -->
    <div id="main-slider" class="flexslider">
        <ul class="slides">
            <li>
                <img src="img/slides/1.jpg" alt="" />
                <div class="flex-caption container">
                    <h3>Success Oriented</h3>
                    <p>Doloribus omnis minus temporibus perferendis ipsa<br /> architecto non, magni quam</p>
                    <a href="#" class="btn btn-theme">Read More</a>
                </div>
            </li>
            <li>
                <img src="img/slides/2.jpg" alt="" />
                <div class="flex-caption container">
                    <h3>Education Genius</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing<br /> elitincidunt eius magni provident.</p>
                    <a href="#" class="btn btn-theme">Read More</a>
                </div>
            </li>
        </ul>
    </div>
    <!-- end slider -->

</section>